.main {
    display: flex;
    margin: 24px 120px;

}

.mainHeader {
    margin: 24px 120px;
    display: flex;
    width: auto;
    text-transform: lowercase;
}

.mainFooter {
    margin: 24px 120px;
    margin-top: auto;

    width: auto;
    display: flex;
}

.mainGallery {
    margin: 38px 120px;

    width: auto;
    display: flex;

    flex: 1;
}

.mainGalleryEverything {
    display: block;
    flex: 0 0 auto;
    margin-inline: 40px;
}
